# << Editor configuration files >>
# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Sublime
*.sublime-workspace

# << Build systems >>
target/
build/
out/
dist/

# << Programming languages >>
# Python
.ruff_cache

# << Debugging/logs >>
*.log

# << Environment >>
.env
.env.*
!.env.example
!.env.template
