# Frameworks y herramientas principales
django
djangorestframework
djangorestframework-simplejwt
django-cors-headers

# Conexión a BD y entorno
psycopg2-binary
python-dotenv
dj-database-url

# Servidor de producción (necesario para Render)
gunicorn
whitenoise

# Dependencias automáticas (pip las instala solas)
asgiref
sqlparse
tzdata